page-storeList {
  ion-avatar {
    min-height: 80px !important;
    min-width: 80px !important;

    img {
      width: 80px !important;
      height: 80px !important;
      border-radius: 0 !important;
    }
  }

  .storelist-list {
    margin-top: 9px;
  }

  .header-postion.bar-button-ios {
    font-size: 1.4rem;
  }
}
