<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Dbconnectstring>server=121.196.195.74;uid=czb;pwd=czb@600036;database=FixAutoInsurance;</Dbconnectstring>
  <Tableprefix></Tableprefix>
  <Dbtype>MySql</Dbtype>
  <Language>zh-cn</Language>
  <Skin>default</Skin>
  <Token>czb1113</Token>
  <AppId>wxd2d4fd06344de6c4</AppId>
  <AppSecret>41e46c58cc4de0dcc90f2006327418c6</AppSecret>
  <EncodingAESKey>EncodingAESKey</EncodingAESKey>
  <DefaultInfo>我好像不明白</DefaultInfo>
</BaseConfigInfo>
