<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Dbconnectstring>server=121.196.195.74;uid=czb;pwd=czb@600036;database=FixAutoInsurance;</Dbconnectstring>
  <Tableprefix></Tableprefix>
  <Dbtype>MySql</Dbtype>
  <Language>zh-cn</Language>
  <Skin>default</Skin>
  <Token>czb1113</Token>
  <AppId>wx00db141e594b5b88</AppId>
  <AppSecret>2e050f5de328907a9ca655421668bdfa</AppSecret>
  <EncodingAESKey>EncodingAESKey</EncodingAESKey>
  <DefaultInfo>我好像不明白</DefaultInfo>
</BaseConfigInfo>
