<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Dbconnectstring>Data Source=121.196.195.74;User ID=czb;Password=czb@600036;Initial Catalog=FixAutoInsurance;Pooling=true;Charset=utf8;</Dbconnectstring>
  <Tableprefix></Tableprefix>
  <Dbtype>SqlServer</Dbtype>
  <Language>zh-cn</Language>
  <Skin>default</Skin>
</BaseConfigInfo>
