page-personalCenter {
  .bg_content {
    padding-top: 30px;
    height: 230px;
    background-image: url(../assets/images/pc_bg_head.png);
    background-size: cover;
  }

  .header-md::after {
    background-image: none !important;
  }

  .header-image {
    border-radius: 100%;
    -moz-border-radius: 100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari 和 Chrome */
  }

  .head-menu {
    padding-top: 3px;
    height: 60px;
    background-color: white;
  }
}
